* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.page {
    width: 200%;

    -webkit-transition: margin-left .8s;
       -moz-transition: margin-left .8s;
        -ms-transition: margin-left .8s;
         -o-transition: margin-left .8s;
            transition: margin-left .8s;
}
    .page__display {
        float: left;
        width: 100%;
    }
        .page__wrap {
            padding: 20px;
        }
            .page__head:after {
                content: '';
                display: table;
                clear: both;
            }
            .page__center {
                text-align: center;
            }
                .page__h1 {
                    margin: 8px 0 16px;
                    font-size: 28px;
                    font-weight: normal;
                }
                .page__inline {
                    display: inline-block;
                    text-align: left;
                }
                .page__p {
                    margin: 4px 0;
                    font-size: 16px;
                }
                .page__span_color_red {
                    color: #C01010;
                }
                .page__span_color_green {
                    color: #098B1F;
                }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .page__h1 {
        margin-top: 28px;
    }
}