* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.page {
    width: 200%;

    -webkit-transition: margin-left .8s;
       -moz-transition: margin-left .8s;
        -ms-transition: margin-left .8s;
         -o-transition: margin-left .8s;
            transition: margin-left .8s;
}
    .page__display {
        float: left;
        width: 100%;
    }
        .page__wrap {
            padding: 20px;
        }