<html>
    <head>
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
        <script src="lib/jquery.tmpl.min.js"></script>
        <script src="lib/jquery-bem.js"></script>
        <script src="common/common.js"></script>
        <script src="settings.js"></script>
        <link href="common/common.css" rel="stylesheet">
        <title>Зубр</title>
    </head>
    <body>
        <div class="page"></div>
        
        <script type="text/x-jquery-tmpl" id="groups">
            <div class="page__display">
                <ul class="groups">
                    {{each groups}}
                        <li class="groups__item">
                            <a href="#words-${$index}" class="groups__link">${name}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </script>

        <script type="text/x-jquery-tmpl" id="words">
            <div class="page__display">
                <div class="page__wrap">
                    <div class="page__head">
                        <a href="#" class="button button_back">группы</a>
                        <a href="#task-${task}" class="button button_next">начать</a>
                    </div>
                    <ul class="words">
                        {{each words}}
                            <li class="words__item">
                                <img src="img/${en_small}.jpg" alt="${en_small}" class="words__img">
                                <div class="words__en">${en}</div>
                                <div class="words__ru">${ru}</div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </script>

        <script type="text/x-jquery-tmpl" id="task">
            <div class="page__display">
                <div class="progress">
                    <div class="progress__bar">
                        <div class="progress__line">
                            <span class="progress__current">1</span>
                        </div>
                    </div>
                    <div class="progress__count">${count}</div>
                </div>
                <div class="slider">
                    <ul class="slider__wrap">
                        {{each tasks}}
                            <li class="slider__item task">
                                <div class="task__img-wrapper">
                                    {{if img}}
                                        <img src="img/${img}.jpg" class="task__img">
                                    {{/if}}
                                </div>
                                <div class="task__word">${question}</div>
                                {{if type == 'write'}}
                                    <input type="text" class="task__input">
                                {{else}}
                                    <ul class="task__test">
                                        {{each items}}
                                            <li class="task__test-item"><a href="#" class="task__test-link">${$value}</a></li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <ul class="points"></ul>
            </div>
        </script>

        <script type="text/x-jquery-tmpl" id="result">
            <div class="page__display">
                <div class="page__wrap">
                    <div class="page__head">
                        <a href="#prev-home" class="button button_back">группы</a>
                    </div>
                    <div class="page__center">
                        <h1 class="page__h1">Результат</h1>
                        <div class="page__inline">
                            <p class="page__p">
                                <span class="page__span_color_green">Правильно: ${right}/${count} (${right_percent}%)</span>
                            </p>
                            <p class="page__p">
                                <span class="page__span_color_red">Ошибок: ${wrong} (${wrong_percent}%)</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </body>
</html>