.task {
    padding-top: 100px;
    text-align: center;
}
    .task__img-wrapper {
        height: 100px;
    }
        .task__img {
            height: inherit;
        }
    .task__word {
        padding: 14px 0;
        font-size: 22px;
    }
    .task__input {
        margin-bottom: 10px;
        padding: 6px 10px;
        width: 200px;
        font-size: 18px;
    }
    .task__test {
        margin: 0 auto;
        width: 220px;

        list-style-type: none;
        border-radius: 6px;
        overflow: hidden;
    }
        .task__test-item {
        }
            .task__test-link {
                display: block;
                padding: 10px 20px;

                text-shadow: 0 1px 0px #eee;
                color: #333;
                text-decoration: none;

                background: -webkit-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
                background:    -moz-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
                background:     -ms-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
                background:      -o-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
                background:         linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
            }
            .task__test-link:active {
                color: #000;

                background: -webkit-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.9));
                background:    -moz-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.9));
                background:     -ms-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.9));
                background:      -o-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.9));
                background:         linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.9));
            }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    
    .task {
        padding-top: 30px;
    }
}