.groups {
    font-size: 20px;
    list-style-type: none;
}
    .groups__item {
    }
        .groups__link {
            display: block;
            padding: 20px 30px;

            list-style-type: none;
            text-shadow: 0 1px 0px #eee;
            color: #333;
            text-decoration: none;

            background-image: -webkit-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
            background-image:    -moz-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
            background-image:     -ms-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
            background-image:      -o-linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
            background-image:         linear-gradient(rgba(54, 155, 255, 0.35), rgba(54, 155, 255, 0.6));
        }